{% extends '@layout/default.html.twig' %}

{% set title = author.name %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>{{ author.biography|default("") }}</p>


<h2>Books</h2>
<ul>
{% for book in author.books %}
    <li>{{ book.title }}</li>
{% endfor %}
</ul>


<p>
    <a href="{{ path('author.list') }}">Return to authors</a>
</p>

{% endblock %}
