{% extends '@layout/default.html.twig' %}


{% set title = 'Authors' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ flash_messages() }}

<ul>
{% for author in authors %}
    <li><a href="{{ path('author.view', {id: author.id}) }}">{{ author.name }}</a></li>
{% endfor %}
</ul>

<p>
    <a class="btn btn-default" href="{{ path('author.edit', {id: 0}) }}">Add new author</a>
</p>

{% endblock %}
